.sidebar-box {
}

.sidebar-box nav {
}

.sidebar-box nav li {
    height: 28px;
    line-height: 28px;
    list-style: none;
    padding: 0 5px;
    color: #58666e;
    cursor: pointer;
    /*background: lightslategray;*/
    /*background: #f6f8f8;*/
    border-bottom: 1px solid #f6f8f8;
}

.sidebar-box nav li:hover {
    color: #ffffff !important;
    background: rgba(58, 63, 81, .8);
    /*background: rgba(114, 102, 168, .8);*/
}


.sidebar-box nav li.active {
    /*background: #58666e;*/
    color: #000000;
    border-right: 2px solid #7266ba;
}

.sidebar-box nav li small {
    float: right;
}